@using netcore_lesson1_mvc.Models;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "List Product";
    List<Product> products = ViewBag.Products;
}
<h2>List Product</h2>
<table class="table table-striped">
    <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
    </thead>
    @foreach(var product in products)
    {
        <tr>
            <td>@product.Id</td>
            <td>@product.Name</td>
            <td>@product.Description</td>
            <td>@product.Price</td>
        </tr>
    }
</table>
